Options -Indexes

<FilesMatch "^(\.env|\.env\..*|composer\.(json|lock)|README\.md)$">
    Require all denied
</FilesMatch>

<Files "secret.key">
    Require all denied
</Files>

RewriteEngine On

RewriteRule ^vendor/ - [F,L]
RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^(.+)$ index.php [QSA,L]
